
body{
    background-image: url("../images/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .6;
}
#Chessboard{
    margin: auto;
    width: 800px;
    height: 800px;
    padding: 50px 50px 50px 50px;
    border: solid red 5px;
}

.blackBox{
    
    height: 100px;
    width: 100px;
    background-color: black;
    float: left;
    /*border-radius: 50%;*/
}
.whiteBox{

    height: 100px;
    width: 100px;
    background-color: white;
    float: left;
   /* border-radius: 50%;*/
}